<div class="col-md-6">
  <h4 class="heading text-center"><%= text %> </h4>
  <% type.each do |data, count| %>
  <p class="text-center"><strong><%= "#{data} (#{count} requests)"%></strong></p>
  <% end %>
</div>
